.container45 {
    background-color: chocolate;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
  }
  
  .section {
    flex: 1;
    padding: 10px;
  }
  
  .section h1 {
    text-decoration: underline;
  }
  
  .section p {
    margin: 5px 0;
  }
  